<div class="page-header"><h1>Your Wonderful Photos</h1></div>
<% if current_user != nil %>
  <% current_user.images.each do |image| %>
    <%= image_tag("#{image.image_file_name}") %>
    <h4><%= image.caption %></h4>
    <%= link_to 'Edit image details', edit_image_path(image), :class => "btn btn-default" %>
    <% if image.tagged_users.any? %>
    <h4>Friends tagged in this image:</h4>
    <ul>
      <p>
      <% image.tagged_users.each do |user| %>
        <%= user.username %> |
      <% end %>
    </p>
    </ul>
    <% end %>
  <% end %>
  <hr>

  <h1>Images you're tagged in:</h1>
  <% if current_user.tagged_images.any? %>
    <% current_user.tagged_images.each do |image| %>
      <ul>
        <p>
          <%= image_tag("#{image.image_file_name}") %>
        </p>
      </ul>
    <% end %>
    <% end %>
<% end %>
